@font-face {
  font-family: Ubuntu;
  src: url("../fonts/UbuntuBold/UbuntuBold.eot");
  src: url("../fonts/UbuntuBold/UbuntuBold.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/UbuntuBold/UbuntuBold.ttf") format("truetype");
  src: url("../fonts/UbuntuBold/UbuntuBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot");
  src: url("../fonts/UbuntuMedium/UbuntuMedium.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/UbuntuMedium/UbuntuMedium.ttf") format("truetype");
  src: url("../fonts/UbuntuMedium/UbuntuMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.ttf") format("truetype");
  src: url("../fonts/UbuntuRegular/UbuntuRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Ubuntu;
  src: url("../fonts/UbuntuLight/UbuntuLight.eot");
  src: url("../fonts/UbuntuLight/UbuntuLight.eot?#iefix") format("embedded-opentype");
  src: url("../fonts/UbuntuLight/UbuntuLight.ttf") format("truetype");
  src: url("../fonts/UbuntuLight/UbuntuLight.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@-webkit-keyframes line-1 {
  0% {
    width: 0;
  }
  100% {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
  }
}

@keyframes line-1 {
  0% {
    width: 0;
  }
  100% {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
  }
}

@-webkit-keyframes line-2 {
  0% {
    height: 0;
  }
  100% {
    height: -webkit-calc(100% - 10px);
    height: calc(100% - 10px);
  }
}

@keyframes line-2 {
  0% {
    height: 0;
  }
  100% {
    height: -webkit-calc(100% - 10px);
    height: calc(100% - 10px);
  }
}

@-webkit-keyframes line-3 {
  0% {
    width: 0;
  }
  100% {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
  }
}

@keyframes line-3 {
  0% {
    width: 0;
  }
  100% {
    width: -webkit-calc(100% - 10px);
    width: calc(100% - 10px);
  }
}

@-webkit-keyframes line-4 {
  0% {
    height: 0;
  }
  100% {
    height: -webkit-calc(100% - 10px);
    height: calc(100% - 10px);
  }
}

@keyframes line-4 {
  0% {
    height: 0;
  }
  100% {
    height: -webkit-calc(100% - 10px);
    height: calc(100% - 10px);
  }
}

html {
  margin: 0;
  padding: 0;
}

body {
  font-family: Ubuntu;
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
          border-radius: 0px;
}

body::-webkit-scrollbar {
  width: 4px;
}

body::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
          border-radius: 0px;
  background: #32a460;
}

body:hover::-webkit-scrollbar-thumb {
  background: #32a460;
}

main {
  min-height: 100vh;
  height: auto;
  width: 100%;
  position: relative;
  background-image: url("../img/bg.jpg");
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
}

main .main-overlay {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
}

nav {
  height: 40px;
  background-color: rgba(37, 103, 116, 0.85);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 20;
}

.nav-buttons {
  max-width: 200px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}

.nav-buttons a {
  text-decoration: none;
  color: #8ae4ff;
}

.nav-buttons a:hover {
  color: #fff;
}

.nav-buttons button {
  background-color: transparent;
  color: #8ae4ff;
  outline: none;
  border: none;
  font-size: 26px;
}

.nav-buttons button:hover {
  cursor: pointer;
  color: #fff;
}

.flex {
  width: 100%;
  min-height: -webkit-calc(100vh - 40px);
  min-height: calc(100vh - 40px);
  background-color: transparent;
  z-index: 2;
  padding-bottom: 40px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.flex-item {
  width: -webkit-calc(30% - 50px);
  width: calc(30% - 50px);
  height: -webkit-calc((100vh - 160px) / 2);
  height: calc((100vh - 160px) / 2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.65);
  padding: 25px;
  position: relative;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin: 5px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.flex-item p {
  color: #fff;
  font-size: 26px;
  text-align: center;
  font-weight: 300;
}

.flex-item span {
  background-color: #47d4ff;
  position: absolute;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.flex-item .line-1 {
  left: 5px;
  width: 0;
  height: 2px;
  top: 5px;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-delay: 0;
          animation-delay: 0;
}

.flex-item .line-2 {
  right: 5px;
  width: 2px;
  top: 5px;
  height: 0;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.flex-item .line-3 {
  right: 5px;
  width: 0;
  height: 2px;
  bottom: 5px;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

.flex-item .line-4 {
  left: 5px;
  width: 2px;
  bottom: 5px;
  height: 0;
  -webkit-animation-duration: 0.1s;
          animation-duration: 0.1s;
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.flex-item:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.85);
}

.flex-item:hover .line-1 {
  -webkit-animation-name: line-1;
          animation-name: line-1;
}

.flex-item:hover .line-2 {
  -webkit-animation-name: line-2;
          animation-name: line-2;
}

.flex-item:hover .line-3 {
  -webkit-animation-name: line-3;
          animation-name: line-3;
}

.flex-item:hover .line-4 {
  -webkit-animation-name: line-4;
          animation-name: line-4;
}

.disable {
  display: none;
}

.attention {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
          clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  min-height: 320px;
  background-color: rgba(6, 132, 79, 0.43);
}

.attention:hover {
  background-color: rgba(6, 132, 79, 0.63);
}

.attention strong {
  color: #c7ffef;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 27px;
}

#modal {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 51, 37, 0.95);
  z-index: 15;
  text-align: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #e0fff7;
}

#modal .text {
  max-width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

#modal .text h1 {
  font-weight: 500;
  text-transform: uppercase;
}

#modal .text h1 b {
  font-weight: 700;
}

#modal .text strong {
  text-align: right;
  font-weight: 400;
}

#modal .text b {
  font-weight: 500;
  display: block;
  margin-top: 15px;
}

#modal .text p {
  font-weight: 400;
}

#modal .text p b {
  font-weight: 500;
  display: inline;
  margin-top: 0;
}

#modal .text small {
  font-weight: 300;
}

#modalClose {
  position: absolute;
  right: 20px;
  top: 20px;
  color: #c7ffef;
}

#modalClose i {
  font-size: 36px;
}

#modalClose:hover {
  cursor: pointer;
}

@media only screen and (max-width: 992px) {
  .flex-item {
    width: -webkit-calc(45% - 50px);
    width: calc(45% - 50px);
  }
}

@media only screen and (max-width: 680px) {
  .attention {
    height: auto;
    min-height: 320px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .attention p {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

@media only screen and (max-width: 570px) {
  .flex-item {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
